body {
	background-image: url('../temas/1.jpg');
	font-family: arial;
	text-align: center;
}

.area51 {
	background-color: white;
	color: black;
	opacity: 0.9;
	margin-top: 5%;
	width: 50%;
}
.cabecera {
	background-color: white;
	color: black;
	opacity: 0.9;
	margin-top: 5%;
	width: 50%;
}
.centro {
	text-align: center;
}